

body {
   background-color: #9a9038;
}

div.wrapper {
   margin: 0 auto;
   max-width: 960px;
   border: solid 5px #227d59;
	box-shadow: 3px 10px 10px black;
	background-color: #227d59;
}

/* HEADER */




header {
   background-color: #227d59;
   padding: 0 1rem;
   display: flex;
   flex-wrap: nowrap;
   justify-content: start;
   align-items: center;
}

header h1 {
   font-size: 300%;
   color: white;
   font-family: "Sorts Mill Goudy", serif;
}

header img {
   width: 50%;
}

   /* NAVIGATION */




nav ul {
   list-style-type: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   border-bottom: 3px solid #b47f04;
}

nav li {
   padding: 1rem;
   list-style-type: none;
}

nav a {
    padding: 1rem 2rem;
   text-transform: uppercase;
   color: black;
   text-decoration: none;
}

nav a:hover {
   background-color: #b47f04;
   border-radius: 5px;
}

header input.menu-btn,
header label.menu-icon {
    display: none; /* ← hides hamburger icon */
}

/* MAIN */




main {
   padding:1em;
   background-color: white;
   font-family:Georgia, 'Times New Roman', Times, serif
}

   
main h1 {
   font-size: 250%;
   margin: 1em 0;
   font-family: "Sorts Mill Goudy", serif;
}

main h2 {
   font-size: 200%;
   margin-top: 1em;
   border-bottom: 2px solid #b47f04;
   font-family: "Sorts Mill Goudy", serif;
}

p {
   font-size: 130%;
   line-height: 1.4em;
   margin-top: 1em;
}

main ul {
      font-size: 130%;
      line-height: 1.4em;
}

li {
   margin: 0 0 .5em 1em;
}

h3 {
      font-size: 140%;
      border-bottom: 1px solid #b47f04;
      margin: 1em 0;
      font-family: "Sorts Mill Goudy", serif;
}

img {
      max-width: 100%;
}




/* FOOTER */

footer {
   color: white;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: .5em;
   font-size: 130%;
   clear: both;
   text-align: center;
}

footer p {
   font-size: 170%;
   border-bottom: 2px solid black;
}

footer a {
   color: white;
}

.content {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 1em;
}
   
.slider {
   margin: 1em 0;
}


/* HOME PAGE */

div.welcome {
   grid-column: 1/4;
   grid-row: 1/2;
}


div.offer {
   grid-column: 1/4;
   grid-row: 2/3;
}

div.loading {
   grid-column: 1/3;
   grid-row: 3/4;
   margin: 0 1em;
}

div.personal {
   grid-column: 1/3;
   grid-row: 4/4;
   margin: 0 1em;
}

div.gift {
   grid-column: 3/4;
   grid-row: 3/4;
}

div.misc {
   grid-column: 3/4;
   grid-row: 4/4;
}

div.dineIn {
   grid-column: 1/4;
}

.photos {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: .5em;
   align-items: center;
}

.aside {
   background-color: #b47f04;
   padding: .5em 1em 1em;
   text-align: center;
   border: 2px solid #523b17;
   color: white;
}

.aside h2 {
   border-bottom: 2px solid #523b17;
   margin-bottom: .5em;
}

.dineIn img {
   margin-top: 1em;
}


/* ABOUT US */

div.about {
   grid-column: 1/3;
   margin: 0 1em;
}

div.history {
   grid-column: 1/4;
}

div.facility {
   grid-column: 3/4;
   grid-row: 1/2;
   order: 2;
}






/* PHOTO GALLERY */


.gallery {
   padding: 1em 0;
margin-top: 1em;
}

/* RESPONSIVE LAYOUT */


@media only screen and (max-width: 768px) {

   header {
       flex-direction: column;
       position: relative;
   }
   
   /* ↓ Navbar ↓ */
   header nav ul.menu {
       max-height: 0;
       transition: max-height .5s ease-out; /* ← open speed */
       text-align: center;
       flex-direction: column;
   }
   
   /* ↓ Navbar buttons ↓ */
   header nav ul.menu li a {
       
   }


   
/* Hamburger Icon 
-------------------------------------*/
   header label.menu-icon {
       display: inline-block;
       padding: 20px 20px;
       position: absolute;
       right: 0; /* ← horizontal position */
       top: 3px; /* ← vertical position */
   }

   /* ↓ center hamburger line ↓ */
   header label.menu-icon span.navicon {
       display: block;
       position: relative;
       transition: all .2s ease-out;
       height: 5px; /* ← thickness of lines */
       width: 25px; /* ← width of lines */
       background: black; /* ← icon color */
   }

   /* ↓ top & bottom hamburger line ↓ */
   header label.menu-icon .navicon:before,
   header label.menu-icon .navicon:after {
       content: '';
       display: block;
       height: 100%;
       width: 100%;
       position: absolute;
       transition: all .3s ease-out;
       background: black; /* ← icon color */
   }

   header label.menu-icon .navicon:before {
       top: 9px; /* ← space below top line */
   }

   header label.menu-icon .navicon:after {
       top: -9px; /* ← space above bottom line */
   }


/* Icon Animation
-------------------------------------*/
   header input.menu-btn:checked ~ ul.menu {
       max-height: 300px;
       /* ↑ maximum height of the menu bar ↑
            increase this if some of your
            menu links are getting cut off */
   }

   /* ↓ hides center line for the X ↓ */
   header input.menu-btn:checked ~ label.menu-icon span.navicon {
       background: transparent;
   }

   header input.menu-btn:checked ~ label.menu-icon span.navicon:before {
       transform: rotate(-45deg);
   }

   header input.menu-btn:checked ~ label.menu-icon span.navicon:after {
       transform: rotate(45deg);
   }

   header input.menu-btn:checked ~ label.menu-icon:not(.steps) .navicon:before,
   header input.menu-btn:checked ~ label.menu-icon:not(.steps) .navicon:after {
       top: 0;
   }


}